<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="demoweb.css">
        
    </head>
    <body>
        <div>
            <div class="header">
                <div class="leftside">
                    <div class="go">
                   <a href="Logo">Logo</a>
                   </div>
                </div>
                <div class="centerside">
                    <div class="hb">
                    <a href="Home">Home</a>
                    <a href="About">About</a>
                    <a href="Products">Products</a>
                    <a href="Services">Services
                        <div class="serve">
                            <a href="Engage">Engage</a>
                            <a href="Pontificate">Pontificate</a>
                            <a href="Synergize">Synergize</a>
                        </div>
                    </a>
                    <select class="Services" name="Services" id="services">
                        <option value="Engage">Engage</option>
                        <option value="Pontificate">Pontificate</option>
                        <option value="Synergize">Synergize</option>
                    </select>
                    </div>
                </div>
                <div class="rightside">
                    <input type="textbox" name="search" >
                    <button class="butn" type="search">Search</button>
                </div>
            </div>
            <div class="container1">
                 <h1>Dramatically Engage </h1>
                 <p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
                 <button class="but">Engage Now</button>
            </div>
            <div class="super"><h1>Superior Collabration <small>visualize Quality</small></h1>
            <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.<br> Holistically pontificate installed base portals after maintainable products</p>
            </div>
            <div class="container2">
                
                <div class="box1">
                    <img src="mn.webp" alt="image" width="200" height="200"><br>
                    <a class="m" href="#">Efficiently Unleash</a>
                    <p>Collaboratively administrate empowered markets via plug-and-play networks.Dynamically procrastinate B2C users after installed base benefits.Dramatically visualize customer directed convergence without revolutionary ROI</p>
                </div>
                <div class="box1">
                    <img src="mn.webp" alt="image" width="200" height="200"><br>
                    <a class="m"href="#">Completely Synergize</a>
                    <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.</p>
                </div>
                <div class="box1">
                    <img src="mn.webp" alt="image" width="200" height="200"><br>
                    <a class="m"href="#">Dynamically Procrastinate</a>
                    <p>Professionally cultivate one-to-one customer service with robust ideas. Completely synergize resource taxing relationships via premier niche markets. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                </div>
            </div>
            <div class="container3">
                
                <div class="box2">
                    <img class="image1"src="man.png" alt="Avatar"><br>
                    <h>Dynamically Procrastinate</h>
                    <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                    <button>Procrastinate</button>
                </div>
                <div class="box2">
                    <img class="image1"src="man.png" alt="Avatar"><br>
                    <h>Efficiently Unleash</h>
                    <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.</p>
                     <button>Unleash</button>
                </div>
                <div class="box2">
                    <img class="image1"src="man.png" alt="Avatar"><br>
                    <h>Completely Synergize</h>
                    <p>Professionally cultivate one-to-one customer service with robust ideas. Completely synergize resource taxing relationships via premier niche markets. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                    <button>Synergize</button>               
                </div>
            </div>
            <div class="footer">
                <div class="foot">
              <a class="mn" href="#">Team&Conditions</a>|
              <a class="mn"href="#">Privacy Policy</a>|
              <a class="mn"href="#">Contact</a>
                </div>
           </div>
        </div>
    </body>
</html>