body{
    margin: 0;
    
}
.header {

    background:#0f0c29;
    display: flex;
    width: 100%;
    height: 70px;
    position: fixed;
}

.leftside {
    width: 10%;
    text-align: center;
    margin: 10px;
}

.leftside a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.go{
    padding: 10px;
}

.rightside {
    width: 30%;
    float: right;
    text-align: right;
    margin: 10px;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 18px;
}

.centerside {
    width: 60%;
    text-align: center;
    margin: 10px;
}

.centerside a {
    padding: 0px 16px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.centerside a:hover{
    background-color:greenyellow ;
}
.hb{
    padding: 10px;
}
.Services {
    font-size: 15px;
    border: 0px;
    background: transparent;
    color: white;
}

.Services:focus-visible {
    outline: none;
}

.Services option {
    background-color: gray;
    padding: 5px;
}
.butn {
        background: rgb(211, 214, 9);
        border: 0px;
        border-radius: 5px;
        padding: 10px;
        color: rgb(56, 52, 43);
        font-size: 15px;
    }
    
    .butn:hover {
        background: rgb(109, 75, 109);
    }
    input{
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    color: rgb(15, 15, 14);
    font-size: 15px;
    outline: none;
    }
    .serve{
    display: none;
    }
    .centerside a:hover.serve{
        display: block;
        position: absolute;
    }
    .container1{
        width: 100%;
        height: 400px;
        background-color: greenyellow;
        text-align: center;
        margin: 0;
    }
    .container1 h1{
        font-size:70px;
        margin: 0px;
        padding-top: 90px;
        color: rgb(38, 59, 5);
    }
    .but {
        background: rgb(31, 4, 80);
        border: 0px;
        border-radius: 5px;
        padding: 10px;
        color: wheat;
        font-size: 15px;
        
    }
    
    .but:hover {
        background: rgb(109, 75, 109);
    }
    .container2{
        width: 100%;
        height: 400px;
        background-color:white;
        display: flex;
        text-align: center;
    }
    .container2 p{
      font-size: 14px;
    }
    .box1{
        width: 33.3%;
       
        margin: 10px;
        
    }
    .super{
        text-align: center;
        
    }
    .super p{
        font-size: 14px;
    }
    .container3{
        width: 100%;
        height: 500px;
        background-color:rgb(161, 127, 24);
        display: flex;
        text-align: center;
    }
   .image1 {
        border-radius: 50%;
      }
      .box2{
        width: 33.3%;
        
        margin: 10px;
        
    }
    .footer{
        width: 100%;
        height: 100px;
        
        
        
    }
    .m{
        padding: 16px;
        color: rgb(105, 114, 236);
        text-decoration: none;
        font-size: 20px;    
    }
    .mn{
        padding: 0px;
        color: blue;
        text-decoration: none;
        font-size: 20px;
    }
    .foot{
        text-align: center;
        padding: 50px;
    }