body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #ccccda;
}

.container1 {
    width: 100%;
    height: 70px;
}

.leftside a {
    text-decoration: none;
    color: rgb(33, 60, 180);
    text-align: center;
    float: left;
    padding: 19px;
    margin-left: 20px;
    font-size: 35px;
}

.rightside a {
    float: right;
    padding: 15px;
    margin: 5px;
    text-decoration: none;
    color: rgb(126, 123, 123);
}

.container2 {
    width: 100%;
    height: 600px;
    display: flex;
    padding: 20px;


}



.leftside1 {
    width: 50%;
    padding: 2rem;
    background-color: #d8e4e8;
    border-radius: 2px;
    align-items: center;
    border-radius: 10px;
}

.leftside1 h2 {
    color: blue;
    text-align: justify;
    margin-left: 3rem;
}

.form {
    margin: 20px;

}


.centerLogo {
    min-height: 100vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 22px auto;
    background: white;
    border-radius: 20px;
}

.box {
    margin: 9px;
    padding: 9px;
    width: 60%;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    border-bottom: 1px solid rgb(12, 9, 9);
}

.rightside1 img {
    width: 100%;
}

label {
    font-size: bold;
    margin-left: 2px;

}

.check {
    display: flex;
    flex-direction: row;

}

a {
    text-decoration: none;
    text-align: right;
}

#sumbit {
    padding: 12px 15px;
    width: 65%;
    margin: 10px 9px;
    background-color: #5351e6;
    color: white;
    outline: none;
    border: none;
}

#sumbit:hover {
    cursor: pointer;
    background-color: rgb(51, 211, 211);
}

.rightside1 {

    width: 50%;
}